<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <div class="container" style="padding-top: 10px;">
        <nav class="navbar navbar-inverse"> 
            <div class="container-fluid"> 
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
                    <ul class="nav navbar-nav">
                        
                        {% from "macro/link.html" import link %}
                        {{ link( '/admin/products' , "List" , req_path ) }}
                        {{ link( '/admin/products/write' , "Write" , req_path ) }}
                       

                        <!-- <li class="active">
                            <a href="/admin/products">List</a>
                        </li>
                        <li><a href="/admin/products/write">Write</a></li>
                        -->
                    </ul> 
                </div> 
            </div> 
        </nav>

        {% block content %}{% endblock %}

    </div>    
</body>
</html>